.footer {
  background-color: var(--bkc-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  display: flex;
  align-items: baseline;
}

.address-container {
  width: 231px;
  margin-right: 70px;
}

.footer .logo {
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__text {
  font-style: 400;
  color: var(--bkc-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__text:hover,
.address__text:focus,
.address__link:hover,
.address__link:focus {
  color: var(--hover-color);
}

/* -----social conteiner---- */
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bkc-primary-color);
  margin-bottom: 20px;
}

.social-networks-container {
  margin-right: auto;
}
/* ---------footer social-networks---
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--bkc-primary-color);
        .social-contact-icon {
          fill: currentColor;
        }
------ */
/* .social-contact-list {
  display: flex;
  justify-content: center;
}

.social-contact-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-contact-item:last-child {
  margin-right: 0;
}

.social-contact-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--bkc-primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-contact-icon {
  fill: currentColor;
}

.social-contact-link:focus,
.social-contact-link:hover {
  background-color: var(--hover-color);
} */
