.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bkc-hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  &__title {
    max-width: 600px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bkc-primary-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

// .hero__title {
//   max-width: 600px;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--bkc-primary-color);
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 30px;
// }

// .btn {
//   display: block;
//   font-family: inherit;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   min-width: 200px;
//   min-height: 50px;
//   text-align: center;
//   margin: 0 auto;
//   padding: 0;
//   letter-spacing: 0.06em;
//   color: var(--bkc-primary-color);
//   background-color: var(--brand-primary-color);
//   border-radius: 4px;
//   outline: none;
//   border: none;
//   cursor: pointer;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     background-color: var(--btn-hover);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   }
// }

// .btn:hover,
// .btn:focus {
//   background-color: var(--btn-hover);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }
