.footer {
  background-color: var(--bkc-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  display: flex;
  align-items: baseline;
}

.address-container {
  width: 231px;
  margin-right: 70px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bkc-primary-color);
  margin-bottom: 20px;
}

.social-networks-container {
  margin-right: auto;
}
